@{
    ViewData["Title"] = "Home Page";
}

@{
    dynamic data = ViewBag.Data;

}

<div class="text-center">
    <h1 class="display-4">Top Books @ViewBag.Title</h1>

    <environment names="Development">
        <h1>Development</h1>
    </environment>

    <environment names="Production">
        <h1>Production</h1>
    </environment>

    <p>Lorem ipsum @ViewBag.Data</p>
    <br />

    <p>ID : @ViewBag.Abu.Id  Name : @ViewBag.Abu.Author</p>
    <p>I went to school at @ViewData["School"]</p>
    <div class="container">
        <big>Top books</big>
        <i big>Top books using attributr (overriding html tags)</i>

        @*REndering a view component*@

        @await Component.InvokeAsync("TopBooks")
        @*//OR*@
        @*Rendering view component using tag helpers*@
        @*<vc:top-books></vc:top-books>*@



    </div>
</div>
