@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using JokesWebApp.Models
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Book detail " ;
}


<div class="container">
    <i><small>Welcome : @Model.Name</small></i>
    <div class="row">
        <h5 class="display-4">Book Details</h5>
        <div class="col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">

                    @*@for (int i = 0; i < Model.Gallery.Count; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "" )"></li>
                    }*@

             
                </ol>
                <div class="carousel-inner">

                    @*@for (int i = 0; i < Model.Gallery.Count; i++)
                    {
                        <div   class="@(i==0 ? "carousel-item active" : "carousel-item" )">
                            <img class="d-block vh-20" asp-append-version="true" src="@Model.Gallery[i].URL" alt="@Model.Gallery[i].Name">
                        </div>
                    }*@


                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 18rem;" id="pic1">
                <img class="card-img-top" asp-append-version="true" src="~/images/water.jpeg" alt="logo">
                <div class="card-body">
                    <i></i>
                    <h5 class="card-title"><i>Title : </i> @Model.book.Title</h5>
                    <p class="card-text"><i>About : </i> @Model.book.Description</p>
                    <small class="text-muted"><i>Author :</i> @Model.book.Author</small>
                    <a data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-primary">Read more</a>
                    <a asp-protocol="https" asp-host="portfolio-ed5aa.web.app/" asp-controller="" asp-action="">we use asp-protocal when we pass a full url) -->Go to my portfolio</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="@Model.BookPdfUrl" class="w-100"/>
                            @*OR you can use Iframe*@
                            @*<iframe src="@Model.BookPdfUrl" class="w-100" ></iframe>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Category : @Model.book.Category</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Total Pages : @Model.book.TotalPages</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Language : @Model.book.LanguageId</a>
            </div>

        </div>
    </div>
</div>